target
out

/gradle.properties
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
# gradle/wrapper/gradle-wrapper.properties

### IntelliJ IDEA ###
.idea
*.iml
*.iws
*.ipr
*.md
*.jar
*/target/
